/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Laro', serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
  padding-bottom: 10px;
}
h3 {
  font-size: 30px;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h5 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 20px;
  padding-bottom: 10px;
}
a {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  text-decoration: none;
}
button {
  background-color: #ebe6e6;
  color: black;
  border: 2px solid black;
  border-radius: 8px;
  /* Green */
  padding: 5px;
}
button:hover {
  background-color: black ;
  color: #ebe6e6;
  border: 2px solid #ebe6e6;
  border-radius: 8px;
  /* Green */
  padding: 5px;
}
.image-header {
  height: 53px;
}
footer {
  width: 100%;
  border-top: 1px solid #FFF;
  background-color: #1a1a1a;
  color: #FFF;
}
footer .footer-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
footer .footer-wrapper p {
  text-align: center;
  color: #FFF;
  font-size: 1.6rem;
  padding: 20px;
}
.contact-form form {
  margin: 20px 20px;
  /* Style the submit button with a specific background color etc */
}
.contact-form form input[type=text],
.contact-form form select,
.contact-form form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 15px 0px;
  resize: vertical;
}
.contact-form form input[type=submit] {
  background-color: pink;
  color: white;
  padding: 1em 2em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  font-size: 16px;
}
