/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Laro', serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  padding-bottom: 10px;
}
a {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #ebe6e6;
}
nav .nav-mod-left img {
  height: 60px;
}
nav .nav-mod-right {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
}
nav .nav-mod-right a {
  color: black;
  font-size: 20px;
  margin: 10px 35px;
  padding-top: 5px;
}
nav .nav-mod-right .login-link {
  background-color: black;
  color: white;
  padding: 5px 50px 0 10px;
}
@media (max-width: 500px) {
  nav nav {
    width: 100%;
    padding-right: 1%;
    padding-left: 1%;
  }
  nav h1 {
    padding-bottom: 2%;
  }
  nav .nav-links {
    width: 100%;
    text-align: center;
  }
}
footer {
  width: 100%;
  border-top: 1px solid #FFF;
  background-color: #1a1a1a;
  color: #FFF;
}
footer .footer-wrapper {
  width: 80%;
  margin: 0 auto;
}
footer .footer-wrapper p {
  text-align: center;
  color: #FFF;
  font-size: 1.6rem;
  padding: 20px;
}
.wrapper header {
  margin: 0 auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: 70vh;
  width: 90%;
  background-image: url('https://images.unsplash.com/photo-1484101403633-562f891dc89a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper header span {
  text-transform: uppercase;
}
.wrapper header h1 {
  margin-bottom: 3vh;
}
.wrapper header .header-text {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .wrapper header {
    width: 100%;
    padding-bottom: 5vw;
  }
}
.wrapper main {
  width: 80%;
  margin: 0 auto;
}
.wrapper main section {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.wrapper main section:last-of-type {
  margin-bottom: 5vh;
}
.wrapper main .gs-teaser-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.wrapper main .gs-teaser-section .teaser-text {
  width: 45%;
}
.wrapper main .gs-teaser-section .teaser-img {
  width: 30%;
}
.wrapper main .gs-teaser-section .teaser-img img {
  max-width: 100%;
  max-height: 100%;
}
.wrapper main .gs-steps .steps-to-start-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper main .gs-steps .steps-to-start-container .circle-step {
  width: 28%;
}
.wrapper main .gs-user-quote {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.wrapper main .gs-user-quote .quote-img {
  width: 40%;
}
.wrapper main .gs-user-quote .quote-img img {
  max-width: 100%;
  max-height: 100%;
}
.wrapper main .gs-user-quote .quote-content {
  width: 40%;
}
.wrapper main .gs-faq-section .faq-header {
  margin-bottom: 3vh;
}
.wrapper main .gs-faq-section .faq-questions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper main .gs-faq-section .faq-questions-list .question {
  width: 48%;
  border-bottom: 1px solid silver;
  margin-bottom: 3vh;
}
