/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Laro', serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
  padding-bottom: 10px;
}
h3 {
  font-size: 30px;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h5 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 20px;
  padding-bottom: 10px;
}
a {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  text-decoration: none;
}
button {
  background-color: #ebe6e6;
  color: black;
  border: 2px solid black;
  border-radius: 8px;
  /* Green */
  padding: 5px;
}
button:hover {
  background-color: black ;
  color: #ebe6e6;
  border: 2px solid #ebe6e6;
  border-radius: 8px;
  /* Green */
  padding: 5px;
}
.image-header {
  height: 53px;
}
footer {
  width: 100%;
  border-top: 1px solid #FFF;
  background-color: #1a1a1a;
  color: #FFF;
}
footer .footer-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
footer .footer-wrapper p {
  text-align: center;
  color: #FFF;
  font-size: 1.6rem;
  padding: 20px;
}
header {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 10vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: 70vh;
  width: 90%;
  background-image: url('https://images.unsplash.com/photo-1504416285472-eccf03dd31eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
header .header-left {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.3);
}
header .header-right {
  width: 50%;
}
@media (max-width: 500px) {
  header {
    width: 100%;
  }
  header .header-left {
    width: 90%;
  }
  header .header-left h1 {
    font-size: 25px;
    width: 100%;
    border: 1px solid black;
    padding: 30px;
  }
  header .header-left p {
    margin: 10px auto;
    font-size: 15px;
  }
}
main {
  width: 80%;
  margin: 0 auto;
}
main section {
  margin-bottom: 10vh;
}
main .grid h2 {
  margin-bottom: 2.5vh;
}
main .grid .grid-set {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2.5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .grid .grid-set .grid-block {
  background-color: #ebe6e6;
  margin: 2.5%;
  width: 200px;
  height: 200px;
}
main .grid .grid-cta {
  width: 90%;
  margin: 0 auto;
  background-color: #ebe6e6;
  border: 1px solid black;
  text-align: center;
}
main .grid .grid-cta p {
  font-weight: 700;
}
main .learn-more {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10vh;
}
main .learn-more .learn-more-header {
  margin-bottom: 2.5vh;
}
main .learn-more .learn-more-set {
  display: flex;
  justify-content: space-around;
}
main .user-quote {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 400px;
}
main .user-quote img {
  height: 100%;
  width: 400px;
  border: 1px solid black;
  border-width: 15%;
}
main .user-quote .qoute-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .host-stats {
  display: flex;
  margin: 25px auto;
  flex-wrap: wrap;
  background-color: #ebe6e6;
  border: 1px solid black;
}
main .host-stats .stats {
  width: 60%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  main {
    width: 90%;
  }
  main .grid-group {
    display: none;
  }
  main .learn-more .learn-more-set {
    flex-direction: column;
  }
  main .user-quote {
    margin-left: 10px;
    width: 100%;
  }
  main .user-quote img {
    display: none;
  }
  main .host-stats .stats {
    flex-direction: column;
    align-content: center;
  }
}
