/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Laro', serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
  padding-bottom: 10px;
}
h3 {
  font-size: 30px;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h5 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 20px;
  padding-bottom: 10px;
}
a {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  text-decoration: none;
}
button {
  background-color: #ebe6e6;
  color: black;
  border: 2px solid black;
  border-radius: 8px;
  /* Green */
  padding: 5px;
}
button:hover {
  background-color: black ;
  color: #ebe6e6;
  border: 2px solid #ebe6e6;
  border-radius: 8px;
  /* Green */
  padding: 5px;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #ebe6e6;
}
nav .nav-mod-left img {
  height: 60px;
}
nav .nav-mod-right {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
}
nav .nav-mod-right a {
  color: black;
  font-size: 20px;
  margin: 10px 35px;
  padding-top: 5px;
}
nav .nav-mod-right a:hover {
  background-color: #ddd;
  color: black;
}
nav .nav-mod-right a:active {
  background-color: #4CAF50;
  color: white;
}
nav .nav-mod-right .login-link {
  background-color: black;
  color: white;
  padding: 5px 50px 0 10px;
}
@media (max-width: 500px) {
  nav {
    width: 100%;
  }
  nav .nav-mod-left {
    display: none;
  }
  nav .nav-mod-right a {
    margin: 0 20px;
    width: 80%;
    font-size: 15px;
  }
  nav .login-link {
    background-color: none;
    padding: 10px;
  }
}
footer {
  width: 100%;
  border-top: 1px solid #FFF;
  background-color: #1a1a1a;
  color: #FFF;
}
footer .footer-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
footer .footer-wrapper p {
  text-align: center;
  color: #FFF;
  font-size: 1.6rem;
  padding: 20px;
}
header {
  width: 70%;
  margin: 20px auto;
  padding: 30px 0;
  background-color: #ebe6e6;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}
header .header-left {
  width: 30%;
}
header .header-left h1 {
  width: 80%;
  border: 1px solid black;
  padding: 30px;
}
header .header-left p {
  margin: 10px 0;
  font-size: 20px;
}
header .header-right {
  width: 50%;
  position: relative;
  text-align: center;
  color: black;
}
header .header-right img {
  width: 100%;
  height: 100%;
}
header .header-right p {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
@media (max-width: 500px) {
  header {
    width: 90%;
  }
  header .header-left {
    width: 90%;
  }
  header .header-left h1 {
    font-size: 25px;
    width: 100%;
    border: 1px solid black;
    padding: 30px;
  }
  header .header-left p {
    margin: 10px auto;
    font-size: 15px;
  }
  header .header-right {
    display: none;
  }
}
main {
  width: 70%;
  margin: 0 auto;
}
main .grid {
  width: 80%;
  margin: 0 auto;
}
main .grid-set {
  display: flex;
  flex-wrap: wrap;
}
main .grid-set .grid-block {
  background-color: #ebe6e6;
  margin: 15px 20px;
  width: 200px;
  height: 160px;
}
main .grid-cta {
  width: 90%;
  background-color: #ebe6e6;
  border: 1px solid black;
  font-size: 30px;
  text-align: center;
}
main .learn-more {
  width: 100%;
  margin: 40px auto;
  text-align: center;
  background-color: #ebe6e6;
  border: 1px solid black;
}
main .learn-more .learn-more-set {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
main .user-quote {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 400px;
}
main .user-quote img {
  height: 100%;
  width: 400px;
  border: 1px solid black;
  border-width: 15%;
}
main .user-quote .qoute-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
}
main .host-stats {
  display: flex;
  margin: 25px auto;
  flex-wrap: wrap;
  background-color: #ebe6e6;
  border: 1px solid black;
}
main .host-stats h2 {
  width: 100%;
  text-align: center;
  font-size: 45px;
}
main .host-stats .stats {
  width: 60%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
main .host-stats .stats h3 {
  font-size: 30px;
}
main .host-stats .stats p {
  font-size: 18px;
}
@media (max-width: 500px) {
  main {
    width: 90%;
  }
  main .grid-group {
    display: none;
  }
  main .learn-more .learn-more-set {
    flex-direction: column;
  }
  main .user-quote {
    margin-left: 10px;
    width: 100%;
  }
  main .user-quote img {
    display: none;
  }
  main .host-stats .stats {
    flex-direction: column;
    align-content: center;
  }
  main .host-stats .stats h3 {
    font-size: 10px;
  }
  main .host-stats .stats p {
    font-size: 18px;
  }
}
