header {
  width: 80%;
  margin: 0 auto 30px;
  padding-bottom: 30px;
  border-bottom: 2px dashed @navigation-border;

  img {
    padding-bottom: 30px;
  }

  @media  @mobile {
    width: 90%;
    padding-bottom: 5vw;
  }
}
main{
  width: 80%;
  margin:0 auto;
}