
header {
  display: flex;
  justify-content: space-around;

  margin: 0 auto;
  margin-bottom: 10vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: 70vh;
  width: 90%;

  background-image: url('https://images.unsplash.com/photo-1504416285472-eccf03dd31eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  .header-left{
    width:40%;
    background-color: rgba(255,255,255,0.3);

    h1 {
    }

    p {

    }

    button {

    }
  } // header left

  .header-right{
    width: 50%;
  }

  @media  @mobile {
    width: 100%;

    .header-left {
      width:90%;

      h1 {       
        font-size: 25px;
        width:100%;
        border: 1px solid black;
        padding: 30px;
      }

      p {
        margin: 10px auto;
        font-size: 15px;
      }
    }
  } // mobile

} // header


main {
  width: 80%;
  margin: 0 auto;

  section {
    margin-bottom: 10vh;
  }

  .grid {

    h2 {
      margin-bottom: 2.5vh;
    }

    .grid-set {
      width:80%;
      margin: 0 auto;
      margin-bottom: 2.5vh;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .grid-block {
        background-color: @background;
        margin: 2.5%;
        width: 200px;
        height: 200px;
      } 
    }

    .grid-cta {
      width:90%;
      margin: 0 auto;
      background-color: @background;
      border: 1px solid black;
      text-align: center;

      p {
        font-weight: 700;
      }
    }

  } // grid


  .learn-more {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10vh;

    .learn-more-header {
      margin-bottom: 2.5vh;
    }

    .learn-more-set{
      display: flex; 
      justify-content: space-around;
    }
  } // learn more

  .user-quote{
   display:flex;
   justify-content: space-around;
   flex-wrap: wrap;
   height: 400px;
   img{
     height: 100%;
     width: 400px;
     border: 1px solid black;
     border-width: 15%;
   }
   .qoute-right-side{
      display: flex;  
      flex-direction: column;
      justify-content: space-between;
    }
  }
  
     .host-stats{
       display:flex;
       margin:25px auto;
       flex-wrap: wrap;
       background-color: @background;
       border:1px solid black;

       .stats{
         width: 60%;
         margin:10px auto;
         display:flex;
         justify-content: space-between;

       }
     }

     @media  @mobile {
       width:90%;
        .grid-group{
          display: none;
        }
        .learn-more{
          .learn-more-set{
            flex-direction: column;
          }
        }
        .user-quote{    
          margin-left:10px; 
          width: 100%;
          img{
            display: none;
          }      
        }
        .host-stats{
          .stats{
            flex-direction: column;
            align-content: center;
          }
        }    
      }
} // main