header {
  width: 80%;
  margin: 20px auto;
  padding-bottom: 30px;
  border-bottom: 2px dashed @navigation-border;
  display: flex;
  justify-content: space-around;
  .header-left{
    width:30%;
    h1{
      width:80%;
      border: 1px solid black;
      padding: 30px;
    }
  }
  .header-right{
    width:50%;
    position: relative;
    text-align: center;
    color: black;
    img{
     width:100%;
     height:100%;
    }
    p{
      position: absolute;
      bottom: 8px;
      left: 16px;
    }
  }
  
  @media  @mobile {
    width: 90%;
    padding-bottom: 5vw;
  }
}
main{
  width: 80%;
  margin:0 auto;
  .grid{
    width:80%;
    margin:0 auto;
  }
  .grid-set{
    display: flex;
    flex-wrap: wrap;
    .grid-block{
      background-color: black;
      margin:15px 20px;
      width: 200px;
      height: 160px;
    } 
  }
  .grid-cta{
    width:100%;
    background-color: black;
    color:white;
    font-size: 30px;
    text-align: center;
  }

  .learn-more{
    width:80%;
    margin:40px auto;
    text-align: center;
    .learn-more-set{
      display: flex; 
      justify-content: space-around;
      font-size: 20px;
    }
  }
}