nav {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    .nav-mod{
        img{
            height: 40px;
        }
    }
   a{
    text-decoration: none;
   }
   
}