.wrapper {
    width: 80%;

    header {
        margin: 0 auto 30px;
        padding-bottom: 30px;
      
        img {
          padding-bottom: 30px;
        }
      
        @media  @mobile {
          width: 90%;
          padding-bottom: 5vw;
        }
      } // header

      main {


        
      } // main

} // wrapper
