.wrapper {

    header {
        width: 80%;
        margin: 0 auto 30px;
        padding-bottom: 30px;
      
        img {
          padding-bottom: 30px;
        }
      
        @media  @mobile {
          width: 90%;
          padding-bottom: 5vw;
        }
      } // header

    main {
        width: 80%;
        margin: 0 auto;

        .gs-teaser-section {

        } // teaser section

        .gs-steps {

            .steps-to-start-container {
                display: flexbox;
                flex-wrap: wrap;
                

                .circle-step {
                    width: 25%;
                }
            }

        } // steps section

        .gs-user-quote {

        } // quote section

        .gs-faq-section {

        } // faq section

    } // main

} // wrapper
