
// Color assignments 
@font-color: @white;
@button-bg: @white;
@main-bg:  @white;
@navigation-border: @white;
@footer-bg: @dark-gray;
@nav-background:rgb(235, 230, 230);

// Colors
@white: #FFF;
@black: #000;
@dark-gray: rgb(26, 26, 26);
@deep-blue: #06164D;
@light-beige: #F5EEE6;
@coral-orange: #F7C6AB;
@light-crimson: #F56BA0;

// Query assignments

@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";